In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [13]:
usuario = 'cursopython_aluno16'
senha = 'Treina2017'
host = 'cursopython.dev.br'
port = 3306
banco = 'cursopython_vendas16'

In [14]:
try:
    engine = create_engine(f"mysql+pymysql://{usuario}:{senha}@{host}:{port}/{banco}")
    with engine.connect() as conn:
        print(f"Conexão com o banco '{banco}' estabelecida com sucesso.")
except exc.SQLAlchemyError as e:
    print(f"Erro ao conectar ao banco '{banco}': {e}")
    exit()

Conexão com o banco 'cursopython_vendas16' estabelecida com sucesso.

In [25]:
sql = f"""
      select id,empresa,contato 
      from fornecedores
      """
fornecedores = pd.read_sql(sql,engine)
fornecedores = fornecedores.reset_index()
fornecedores.columns=['id','id_transacional','fornecedor','contato']
fornecedores['id'] += 1
try:
    fornecedores.to_sql('dim_fornecedor',if_exists='append',index=False,con=engine)
    print("Dimensão fornecedor carregada com sucesso.")
except exc.SQLAlchemyError as e:
        print(f"Erro ao carregar: {e}")

Dimensão fornecedor carregada com sucesso.

In [22]:
print(fornecedores)

      id  id_transacional fornecedor             contato
0      1                1     OCULUS   Ana Laura Pacheco
1      2                2     HYPERX   Maria Luiza Alves
2      3                3   DYNABOOK  Luiz Otávio Vieira
3      4                4      SHARP   José Pedro da Paz
4      5                5      VALVE    Melissa Ferreira
..   ...              ...        ...                 ...
177  178              178    TABLEAU        Luigi Mendes
178  179              179   LOGITECH     Rafaela Ribeiro
179  180              180       ASUS       Melissa Lopes
180  181              181    LINKSYS        Enzo Correia
181  182              182     YF-51S         Bella Cunha

[182 rows x 4 columns]